<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS 自动化测试" verbose="1">
    <test name="运行全部测试用例">
        <packages>
            <package name="com.***REMOVED***.uitest.ios.search"></package>
            <package name="com.***REMOVED***.uitest.ios.player"></package>
            <package name="com.***REMOVED***.uitest.ios.account"></package>
        </packages>
    </test>

<!--    <test name="指定运行某几个测试类，会按照顺序执行">-->
<!--        <classes>-->
<!--            <class name="com.***REMOVED***.uitest.ios.search.SearchAlbum"></class>-->
<!--            <class name="com.***REMOVED***.uitest.ios.account.TouristLogin"></class>-->
<!--            <class name="com.***REMOVED***.uitest.ios.player.SwitchEpisodeByButton"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>



