<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iOS 自动化测试" verbose="1" configfailurepolicy="continue">
    <test name="P0级别测试用例-登录相关">
        <groups>
            <run>
                <include name="account"></include>
            </run>
        </groups>
        <packages>
            <package name="com.***REMOVED***.uitest.ios.cases.account"></package>
        </packages>
    </test>
    <test name="P0级别测试用例-邮箱登录(前置条件)">
        <classes>
            <class name="com.***REMOVED***.uitest.ios.cases.account.EmailLogin"></class>
        </classes>
    </test>
    <test name="P0级别测试用例-非登录用例">
        <packages>
            <package name="com.***REMOVED***.uitest.ios.cases.album"></package>
            <package name="com.***REMOVED***.uitest.ios.cases.search"></package>
            <package name="com.***REMOVED***.uitest.ios.cases.player"></package>
        </packages>
    </test>
</suite>



